*{
    background-color: #333232;
    color: #fff;
}

body{
    margin: 5;
}

.nav_bar{
    box-shadow: 0 0 10px 3px rgb(0 0 0 / 40%);
    padding: 0 20px;
    border: none;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.options_menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.options_menu li{
    cursor: pointer;
}

.options_menu li{
    display: list-item;
    margin: 15;
}


.text_visualizer{
    box-shadow: 0 0 10px 3px rgb(0 0 0 / 40%);
    padding: 0 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.collapse_list{
    list-style-type: none;
    align-items: center;
    position: absolute;
    border-top: 3px solid white;
    padding: 0;
    width: 250px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 18%);
    display: block;
    top: 190%;
    left: 0;
    font-weight: 500;
}